<div class="container py-4">
  <ng-container *ngIf="secretObservable | async as s; else loading">
    <div class="mb-5">
      <span class="h1">{{s.attributes.GetName()}}</span>
      <span class="h3 font-italic ml-2" *ngIf="vaultObservable | async as v">contained in {{v.attributes.name}}</span>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="bg-white shadow-sm p-4">
          <a [href]="s.attributes.GetDomain()">Go to site</a>
        </div>
        <hr/>
      </div>
      <div class="col-12 col-lg-8 col-xl-6 mb-3">
        <div class="bg-white shadow-sm p-4">
          <h4>Edit</h4>
          <ng-container *ngIf="vaultObservable | async as v; else loading">
            <hpk-secret-form [secret]="s" [vault]="v" (secretChange)="onChange()"></hpk-secret-form>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-6">
        <div class="bg-white shadow-sm p-4">
          <h4>Delete</h4>
          <p>Warning: This action cannot be undone</p>
          <hpk-delete-form [service]="this.secretService" [resource]="s" (delete)="onChange()"></hpk-delete-form>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #loading>
  <div class="text-center">
    <span class="spinner-border"></span>
  </div>
</ng-template>
