<form [formGroup]="passwordForm">
  <label class="form-row">
    Name
    <input class="form-control" type="text" formControlName="name">
  </label>

  <label class="form-row">
    Secret
    <input class="form-control" type="password" formControlName="secret">
  </label>

  <label class="form-row">
    Domain
    <input class="form-control" type="text" formControlName="domain">
  </label>

  <label class="form-row">
    Icon
    <input class="form-control" type="text" formControlName="icon">
  </label>

  <div class="row text-center" style="padding-top: 20px">
    <div class="col-md-6">
      <button class="btn btn-success w-75 text-center" (click)="onSubmit()">SUCCESS</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-danger w-75 text-center" (click)="onCancel()">CANCEL</button>
    </div>
  </div>
</form>

