<div>
  <div class="d-flex flex-row">
    <img class="logo mr-4" [src]="passport.icon" [alt]="passport.name"/>
    <a class="h1" target="_blank" [href]="passport.domain">{{passport.name}}</a>
  </div>
  <div>
    <div class="d-flex flex-row">
      <input type="password" class="form-control flex-grow-1" [disabled]="true" [ngModel]="passport.secret"/>
      <button class="btn btn-primary" (click)="copyText(passport.secret)">
        <i class="icon">file_copy</i>
      </button>
    </div>
  </div>
</div>
