<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label class="form-row">
    First Name
    <input class="form-control" type="text" formControlName="firstName">
  </label>

  <label class="form-row">
    Last Name
    <input class="form-control" type="text" formControlName="lastName">
  </label>

  <label class="form-row">
    Email
    <input class="form-control" type="text" formControlName="email">
  </label>

  <label class="form-row">
    Password
    <input class="form-control" type="password" formControlName="password">
  </label>

  <label class="form-row">
    Password Confirmation
    <input class="form-control" type="password" formControlName="passwordConfirmation">
  </label>

  <input [disabled]="!registerForm.valid" type="submit" value="Submit" class="btn btn-success btn-submit">
</form>
