<div class="h-100 d-flex flex-row" *ngIf="secrets | async as passwords">
  <div class="list d-flex flex-column">
    <h1 class="list-title">Passwords</h1>
    <a class="list-item" *ngFor="let passwordItem of passwords; let i = index"
       routerLinkActive="active"
       routerLink="{{passwordItem.secret.id}}">#{{i + 1}} - {{passwordItem.password.GetName()}}</a>
    <a class="list-item small" routerLink="add" routerLinkActive="active">
      <i class="icon mr-2">add</i>
      <span>New</span>
    </a>
  </div>
  <div class="flex-grow-1 bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
